<div class=" indexClass d-flex justify-content-center align-items-center">
    <form action="/home" >
        <h1>Welcome to Coding Competition #2 by {{title}} , NORKA B2”.</h1>
        <button  type="submit" class="btn btn-success message">Enter</button>
    </form>
</div>